/** DARK THEME **/
* {
	background-color: #333;
	color: #f4f4f4;
}
clothes {
	color: purple;
}
exits {
	color: #f4d333;
}
objects {
	color: lightblue;
}
items {
	color: lightgreen;
}
zeds {
	color: red;
}
#container {
	border: 1px solid #f4f4f4;
}